# Dependências
node_modules/

# Builds/artefatos
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.local
.env.*.local

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
